/target/
**/*.rs.bk

# Editors and IDEs
.idea/

# Specific local launch scripts and items
misc/
**/log.txt

# token file
**/.fitbit_token
**/.env
**/headmaster.toml
**/headmaster-release.toml

Cargo.lock

/driver/drivers/executor/plugins/onesignal_send_notification.sh
/driver/drivers/executor/plugins/onesignal_send_notification.sh.toml
