stages:
  - build
  - push

before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY

image build:
  stage: build
  only:
    - master
  script:
    - sed s/YOUR_CLIENT_ID/$CLIENT_ID/ headmaster/headmaster.toml.example
    - sed s/YOUR_CLIENT_SECRET/$CLIENT_SECRET/ > headmaster.toml
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG -f Dockerfile ./

image push:
  stage: push
  only:
    - master
  script:
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
    - docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG $CI_REGISTRY_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE:latest
