[auth]
client_id = "YOUR_CLIENT_ID"
client_secret = "YOUR_CLIENT_SECRET"

[limits]
minimum_active_time = 5
max_accounted_active_time = 15
debt_limit = 15

[day]
day_begins_at = "10:00:00"
day_ends_at = "20:00:00"
day_length = 12

[network]
addr = "127.0.0.1:8081"